<div class="row">
	<div class="col-lg-6">
		<div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-caption">
					<div class="kt-portlet__head-title">
						<span class="kt-portlet__head-icon kt-hide">
							<i class="la la-gear"></i>
						</span>
						<h3 class="kt-portlet__head-text">
							Review Material
						</h3>
					</div>
				</div>
			</div>
			<!--begin::Form-->
			<form class="kt-form">
				<div class="kt-portlet__body">
					<div class="kt-form__section kt-form__section--first">
						<iframe src="https://www.latimes.com/world-nation/story/2019-12-03/un-says-current-decade-heading-for-new-temperature-record" width=100% height=1000>
							<p>Your browser does not support iframes.</p>
						</iframe>
						​
						​
					</div>
				</div>
				​
			</form>
			<!--end::Form-->
		</div>
		​
		​
	</div>
	<div class="col-lg-6">
		<div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-caption">
					<div class="kt-portlet__head-title">
						<span class="kt-portlet__head-icon kt-hide">
							<i class="la la-gear"></i>
						</span>
						<h3 class="kt-portlet__head-text">
							Scorecard
						</h3>
					</div>
				</div>
			</div>
			<form class="kt-form">
				<div class="kt-portlet__body">
					<div class="kt-form__section kt-form__section--first">
						​
						<div class="kt-form__heading">
							<h3 class="kt-form__heading-title">Quality of Content: Reinforces Barcelona Princibles</h3>
						</div>
						<div class="kt-form__group form-group">
							<label for="">1. Goal Setting and Measurement are Fundemental to Communication and Public Relations</label>
							<div class="kt-radio-list">
								<mat-radio-group>
									<p>
										<mat-radio-button value="r1a">0 pts</mat-radio-button>
										<mat-radio-button value="r1b">0 pts</mat-radio-button>
										<mat-radio-button value="r1c">1 pt</mat-radio-button>
										<mat-radio-button value="r1d">2 pts</mat-radio-button>
										<mat-radio-button value="r1e">3 pts</mat-radio-button>
										<mat-radio-button value="r1f">4 pts</mat-radio-button>
										<mat-radio-button value="r1g">5 pt</mat-radio-button>
									</p>
								</mat-radio-group>
								<label for="">2. Measuring Commincation Outcomes is Recommended Versus Only Measuring Outputs</label>
								<mat-radio-group>
									<mat-radio-group>
										<p>
											<mat-radio-button value="1">0 pts</mat-radio-button>
											<mat-radio-button value="2">0 pts</mat-radio-button>
											<mat-radio-button value="1">1 pt</mat-radio-button>
											<mat-radio-button value="2">2 pts</mat-radio-button>
											<mat-radio-button value="1">3 pts</mat-radio-button>
											<mat-radio-button value="2">4 pts</mat-radio-button>
											<mat-radio-button value="1">5 pt</mat-radio-button>
										</p>
									</mat-radio-group>
								</mat-radio-group>
								<label for="">3. The Effect on Organizational Performance Can and Should Be Measured Where Possible</label>
								<mat-radio-group>
									<mat-radio-group>
										<p>
											<mat-radio-button value="1">0 pts</mat-radio-button>
											<mat-radio-button value="2">0 pts</mat-radio-button>
											<mat-radio-button value="1">1 pt</mat-radio-button>
											<mat-radio-button value="2">2 pts</mat-radio-button>
											<mat-radio-button value="1">3 pts</mat-radio-button>
											<mat-radio-button value="2">4 pts</mat-radio-button>
											<mat-radio-button value="1">5 pt</mat-radio-button>
										</p>
									</mat-radio-group>
								</mat-radio-group>
								<label for="">4. Measurement and Evaluation Require Both Qualitive and Quantitive Methods</label>
								<mat-radio-group>
									<mat-radio-group>
										<p>
											<mat-radio-button value="1">0 pts</mat-radio-button>
											<mat-radio-button value="2">0 pts</mat-radio-button>
											<mat-radio-button value="1">1 pt</mat-radio-button>
											<mat-radio-button value="2">2 pts</mat-radio-button>
											<mat-radio-button value="1">3 pts</mat-radio-button>
											<mat-radio-button value="2">4 pts</mat-radio-button>
											<mat-radio-button value="1">5 pt</mat-radio-button>
										</p>
									</mat-radio-group>
								</mat-radio-group>
								<label for="">5. AVEs are not the Value of Communication</label>
								<mat-radio-group>
									<mat-radio-group>
										<p>
											<mat-radio-button value="1">0 pts</mat-radio-button>
											<mat-radio-button value="2">0 pts</mat-radio-button>
											<mat-radio-button value="1">1 pt</mat-radio-button>
											<mat-radio-button value="2">2 pts</mat-radio-button>
											<mat-radio-button value="1">3 pts</mat-radio-button>
											<mat-radio-button value="2">4 pts</mat-radio-button>
											<mat-radio-button value="1">5 pt</mat-radio-button>
										</p>
									</mat-radio-group>
								</mat-radio-group>
								<label for="">6. Social Media Can and Should be Measured Consistantly with Other Media Channels</label>
								<mat-radio-group>
									<mat-radio-group>
										<p>
											<mat-radio-button value="1">0 pts</mat-radio-button>
											<mat-radio-button value="2">0 pts</mat-radio-button>
											<mat-radio-button value="1">1 pt</mat-radio-button>
											<mat-radio-button value="2">2 pts</mat-radio-button>
											<mat-radio-button value="1">3 pts</mat-radio-button>
											<mat-radio-button value="2">4 pts</mat-radio-button>
											<mat-radio-button value="1">5 pt</mat-radio-button>
										</p>
									</mat-radio-group>
								</mat-radio-group>
								<label for="">7. Measurement and Evaluation Should be Transparent, Consistant and Valid</label>
								<mat-radio-group>
									<mat-radio-group>
										<p>
											<mat-radio-button value="1">0 pts</mat-radio-button>
											<mat-radio-button value="2">0 pts</mat-radio-button>
											<mat-radio-button value="1">1 pt</mat-radio-button>
											<mat-radio-button value="2">2 pts</mat-radio-button>
											<mat-radio-button value="1">3 pts</mat-radio-button>
											<mat-radio-button value="2">4 pts</mat-radio-button>
											<mat-radio-button value="1">5 pt</mat-radio-button>
										</p>
									</mat-radio-group>
								</mat-radio-group>
								<div class="kt-form__heading">
									<h3 class="kt-form__heading-title">Quality of Submission</h3>
								</div>
								<label for="">Adds to or Advances The Body of Knowledge</label>
								<mat-radio-group>
									<p>
										<mat-radio-button value="1">0 pts</mat-radio-button>
										<mat-radio-button value="2">0 pts</mat-radio-button>
										<mat-radio-button value="1">1 pt</mat-radio-button>
										<mat-radio-button value="2">2 pts</mat-radio-button>
										<mat-radio-button value="1">3 pts</mat-radio-button>
										<mat-radio-button value="2">4 pts</mat-radio-button>
									</p>
								</mat-radio-group>
								<label for="">Spelling/Grammar/Writing Style/Speaking Style</label>
								<mat-radio-group>
									<mat-radio-group>
										<p>
											<mat-radio-button value="1">0 pts</mat-radio-button>
											<mat-radio-button value="2">0 pts</mat-radio-button>
											<mat-radio-button value="1">1 pt</mat-radio-button>
											<mat-radio-button value="2">2 pts</mat-radio-button>
											<mat-radio-button value="1">3 pts</mat-radio-button>
											<mat-radio-button value="2">4 pts</mat-radio-button>
										</p>
									</mat-radio-group>
								</mat-radio-group>
								<label for="">Focused and Complete</label>
								<mat-radio-group>
									<mat-radio-group>
										<p>
											<mat-radio-button value="1">0 pts</mat-radio-button>
											<mat-radio-button value="2">0 pts</mat-radio-button>
											<mat-radio-button value="1">1 pt</mat-radio-button>
											<mat-radio-button value="2">2 pts</mat-radio-button>
											<mat-radio-button value="1">3 pts</mat-radio-button>
											<mat-radio-button value="2">4 pts</mat-radio-button>
										</p>
									</mat-radio-group>
								</mat-radio-group>
								<label for="">Demonstrates Valid Use of Data, Mathematics and Methods</label>
								<mat-radio-group>
									<mat-radio-group>
										<p>
											<mat-radio-button value="1">0 pts</mat-radio-button>
											<mat-radio-button value="2">0 pts</mat-radio-button>
											<mat-radio-button value="1">1 pt</mat-radio-button>
											<mat-radio-button value="2">2 pts</mat-radio-button>
											<mat-radio-button value="1">3 pts</mat-radio-button>
											<mat-radio-button value="2">4 pts</mat-radio-button>
										</p>
									</mat-radio-group>
								</mat-radio-group>
								<label for="">Visualization Elements Aid Comprehension</label>
								<mat-radio-group>
									<mat-radio-group>
										<p>
											<mat-radio-button value="1">0 pts</mat-radio-button>
											<mat-radio-button value="2">0 pts</mat-radio-button>
											<mat-radio-button value="1">1 pt</mat-radio-button>
											<mat-radio-button value="2">2 pts</mat-radio-button>
											<mat-radio-button value="1">3 pts</mat-radio-button>
											<mat-radio-button value="2">4 pts</mat-radio-button>
										</p>
									</mat-radio-group>
								</mat-radio-group>
							</div>
							<mat-hint align="start">Score:</mat-hint>
						</div>
						<div class="form-group kt-form__group kt-form__group--last">
							<mat-form-field class="example-full-width">
								<input matInput placeholder="Amount" type="number">
								<mat-hint align="start">Please enter amount</mat-hint>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="kt-portlet__foot kt-portlet__no-border">
					<div class="kt-form__actions kt-form__actions--solid">
						<button mat-raised-button color="accent">Submit Review</button>&nbsp;
						<button mat-raised-button type="reset">Cancel</button>
					</div>
				</div>
			</form>
			<!--end::Form-->

		</div>
		​
	</div>
</div>
