<div class="row">
	<div class="col-xl-12">
		<kt-portlet [class]="'kt-portlet--height-fluid' ">

			<!--			<kt-portlet-header [title]="'sdsdsd'"-->
			<!--							   [class]="'kt-portlet__head&#45;&#45;lg kt-portlet__head&#45;&#45;noborder kt-portlet__head&#45;&#45;break-sm'">-->
			<!--			</kt-portlet-header>-->

			<mat-toolbar
				style="background-image: url(../../../assets/media/bg/bg-4.jpg);max-height: 200px;min-height: 200px">
				<span style="color: white">PRS_Logo</span>
			</mat-toolbar>
			<div class="kt-portlet__head kt-portlet__head--lg">
				<div class="kt-portlet__head-label">
							<span class="kt-portlet__head-icon">
								<i class="kt-font-brand flaticon2-line-chart"></i>
							</span>
					<h3 class="kt-portlet__head-title">
						PRS Works
						<small>the highest scored works</small>
					</h3>
				</div>
				<div class="kt-portlet__head-toolbar ">
					<button mat-raised-button
							color="accent"
							class="pulsingButton"
							style="margin-right: 1.3rem;"
							[routerLink]="['/author/submission']">Submit Work</button>


					<button mat-raised-button
							color="primary"
							style="background-color: #6B39B6;"
							[routerLink]="['/auth/login']">Login</button>
				</div>
			</div>

			<kt-portlet-body [class]="'kt-portlet__body--fit'" style="height:100%; max-height: 100%">

				<div class="kt-portlet kt-portlet--mobile ">


					<!--begin: Datatable -->
					<kt-work-list></kt-work-list>

					<!--end: Datatable -->
				</div>


			</kt-portlet-body>

		</kt-portlet>


	</div>


</div>
