<div class="row">
	<div class="col-xl-12">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Reviews'" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
				<ng-container ktPortletTools>
					<kt-context-menu></kt-context-menu>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				place datatable here
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>


<!--<div class="row">-->
<!--	<div class="col-xl-12">-->
<!--		<kt-portlet [class]="'kt-portlet&#45;&#45;height-fluid'">-->
<!--			<kt-portlet-header [title]="'Top 3 Reviewed Works'">-->
<!--				<ng-container ktPortletTools>-->
<!--					<kt-context-menu2></kt-context-menu2>-->
<!--				</ng-container>-->
<!--			</kt-portlet-header>-->
<!--			<kt-portlet-body>-->
<!--				<kt-widget5></kt-widget5>-->
<!--			</kt-portlet-body>-->
<!--		</kt-portlet>-->
<!--	</div>-->
<!--</div>-->
