<div class="container">
	<div perfectScrollbar [ngStyle]="{'max-height': '43vh', 'position': 'relative'}"
		 class="mat-table__wrapper mat-table__wrapper--dashboard mb-4">
		<table mat-table [dataSource]="dataSource" matSort>

			<!-- ID Column -->
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
				<td mat-cell *matCellDef="let row"> {{row.ReviewerID}}</td>
			</ng-container>

			<!-- Reviewer -->
			<ng-container matColumnDef="Reviewer">

				<th mat-header-cell *matHeaderCellDef mat-sort-header> Reviewer</th>
				<td mat-cell *matCellDef="let row">{{row.ReviewerName}}</td>
			</ng-container>


			<!-- Due Date Column -->
			<ng-container matColumnDef="DueDate">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date</th>
				<td mat-cell *matCellDef="let row"> {{row.DueDate}} </td>
			</ng-container>
			<ng-container matColumnDef="Status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
				<td mat-cell *matCellDef="let row">
					<span
						class="kt-badge kt-badge--lg kt-badge--inline kt-badge--pill kt-badge--{{ getItemCssClassByStatus(row.DueDate) }} kt-badge--wide">{{ getItemStatusString(row.DueDate) }}</span>

				</td>
			</ng-container>

			<!--											<ng-container matColumnDef="Action">-->
			<!--												<th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>-->
			<!--												<td mat-cell *matCellDef="let row"><a href="javascript:;">View</a></td>-->
			<!--											</ng-container>-->

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;">
			</tr>
		</table>
	</div>
</div>
