<div class="container-fluid " style="background: url('../assets/media/bg/bg-4.jpg') no-repeat 1% 26%;">
	<div class="header-company ">
		<nav class="navbar navbar-expand-lg navbar-dark ">
			<div class="d-flex flex-grow-1">
				<span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
				<a class="navbar-brand" routerLink="/home">
					<img style="width: 118px" src="../assets/media/bg/logo.png" alt="PRS"/>
				</a>
			</div>
			<div class="collapse navbar-collapse flex-grow-1 text-right " id="myNavbar7">
				<ul class="navbar-nav ml-auto flex-nowrap font-weight-bold" style="font-size: 15px">
					<li class="nav-item ">
						<a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a [routerLink]="['/about']"   routerLinkActive="active" class="nav-link">About</a>
					</li>
					<li class="nav-item">
						<a [routerLink]="['/contact']"  routerLinkActive="active" class="nav-link">Contact Us</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="h-50" style="color: white; position: relative; margin-top: 20px">
			<div class="d-flex justify-content-center header-about text-center">
			<span>
				<h2>{{title}}</h2>
			</span>

			</div>
		</div>
	</div>
</div>

<router-outlet></router-outlet>
