<div class="about-section">
	<h1>About Peer Review System Application</h1>
	<p>Some text about who we are and what we do.</p>
</div>

<div class="kt-space-40"></div>

<div class="main">



	<div class="row">
		<div class="col-xl-12">
			<div class="row row-full-height">
				<div class="col-sm-12 col-md-12 col-lg-6">
					<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">
						<!--					<kt-portlet-header [title]="'What is Peer Review?'"></kt-portlet-header>-->

						<kt-portlet-body [class]="'kt-portlet__body--fluid'">
							<div class="font_size">
								<h2>What is Peer Review?</h2>
								<p >Peer review is a long-standing system used to assess the quality
									of a work before it is published. Independent experts in the relevant
									area of interest assess submitted works for originality, validity and
									significance to help editors determine whether a work should be published
									as a standard reference for the scientists or professional associates of a
									science, industry or discipline.
								</p>
							</div>

						</kt-portlet-body>
					</kt-portlet>

					<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'">


						<kt-portlet-body [class]="'kt-portlet__body--fluid'" class="font_size">
							<div class="font_size">
								<h2>How is peer review accomplished?</h2>
								<p>
									Reviewers read works by an assigned deadline. They evaluate the work that was
									submitted using the format and guided scoring system set up by the profession or
									industry association. Mulitple reviewers give their assessment and a final consensus
									review and score are determined by combining the reviews.
								</p>
							</div>

						</kt-portlet-body>
					</kt-portlet>




					<div class="kt-space-20"></div>

				</div>

				<div class="col-sm-12 col-md-12 col-lg-6">

					<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand '">

						<kt-portlet-body [class]="'kt-portlet__body--fluid'">
							<div class="font_size">
								<h2>Who performs peer review?</h2>
								<p>
									Experts with knowledge of the industry and practice are invited to review
									and rate works. Multiple reviewers are used for each work.
									Contact the Administrator if you would like to be added as a reviewer.
								</p>
								<p>Contact the Administrator if you would like to be added as a reviewer.</p>
								<p>admin email address is on this page.</p>

							</div>

						</kt-portlet-body>
					</kt-portlet>



					<div class="kt-space-20"></div>

					<kt-portlet [class]="'kt-portlet--height-fluid-half kt-portlet--border-bottom-brand'" class="max_height">
<!--						<kt-portlet-body [class]="'kt-portlet__body&#45;&#45;fluid'">-->
						<kt-portlet-body class="my_kt-portlet__body">

						<div class="font_size">

								<h2>What happens to reviewed works?</h2>
								<p>
									A work that is accepted and earns a score above a certain threshold
									will be displayed on the public page of the Peer Review System.	</p>

								<p>A work that is accepted and needs correction, quality improvement or
									receives a score below the threshold will not be published. Feedback may
									be sent to the author.  Authors may try again to submit the work when it is improved.</p>

								<p>A work that is rejected and not reviewed did not meet the criteria of works for this discipline.
									The Author receives a rejection notice from the Administrator. Feedback may or may not be sent
									to the Author.  </p>

								<p>A work that is rejected and not reviewed did not meet the criteria of works for this discipline.
									The Author receives a rejection notice from the Administrator. Feedback may or may not be sent
									to the Author.  </p>

							</div>

						</kt-portlet-body>
					</kt-portlet>

				</div>
			</div>
		</div>
	</div>

</div>






<!--
<kt-portlet>
	<kt-portlet-header>
		<ng-container ktPortletTitle>
		</ng-container>
		<ng-container ktPortletTools>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body></kt-portlet-body>
	<kt-portlet-footer></kt-portlet-footer>
</kt-portlet>
-->
