<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>Submit Your Work For Review</h3>
		</div>
		<kt-auth-notice></kt-auth-notice>
		<form class="kt-login__form kt-form" [formGroup]="registerForm" autocomplete="off">
			<div class="form-group">
				<mat-form-field>
					<mat-label>Title</mat-label>
					<input matInput type="text" #title placeholder="Title" formControlName="title" autocomplete="off"
						   [autofocus]="true"/>
					<mat-error *ngIf="isControlHasError('title','required')">
						<strong>Required field</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('title','minlength')">
						<strong>Minimum Length: 3</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('title','maxlength')">
						<strong>Maximum length: 320</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Date Written</mat-label>
					<input matInput [matDatepicker]="dp3" placeholder="MM/dd/YYYY" formControlName="date_written"
						   disabled>
					<mat-datepicker-toggle matSuffix [for]="dp3">
					</mat-datepicker-toggle>
					<mat-datepicker #dp3 disabled="false"></mat-datepicker>
					<mat-error *ngIf="isControlHasError('date_written','required')">
						<strong>Required field</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>URL</mat-label>
					<input matInput type="text" placeholder="Url" formControlName="url"/>
					<mat-error *ngIf="isControlHasError('url','required')">
						<strong>Required field</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('url','minlength')">
						<strong> Minimum field length: 3</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('url','maxlength')">
						<strong> Maximum field length: 100</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<!--         Author textfield-->
			<div class="form-group">
				<mat-form-field>
					<mat-label>Author</mat-label>
					<input matInput type="text" placeholder="Author" formControlName="author"/>
					<mat-error *ngIf="isControlHasError('author','required')">
						<strong>Required field</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('author','minlength')">
						<strong> Minimum field length: 3</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('author','maxlength')">
						<strong> Maximum field length: 100</strong>
					</mat-error>
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Email</mat-label>
					<input matInput type="email" placeholder="Email" formControlName="email" autocomplete="off"/>
					<mat-error *ngIf="isControlHasError('email','required')">
						<strong>Required field</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','email')">
						<strong>Invalid field</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','minlength')">
						<strong>Minimum field length: 3</strong>
					</mat-error>
					<mat-error *ngIf="isControlHasError('email','maxlength')">
						<strong>Maximum field length: 320</strong>
					</mat-error>
				</mat-form-field>
			</div>

			<!--         Tag option field-->
			<div class="form-group">
				<mat-form-field>
					<mat-label>Tag</mat-label>
					<mat-select placeholder="tags" formControlName="tag" [(ngModel)]="selectedTagList" multiple>
						<mat-select-trigger>
							{{registerForm.controls.tag.value ? registerForm.controls.tag.value[0] : ''}}
							<span *ngIf="registerForm.controls.tag.value?.length > 1"
								  class="example-additional-selection">
                          (+{{registerForm.controls.tag.value.length - 1}} others)
                          </span>
						</mat-select-trigger>
						<mat-option *ngFor="let tag of tagList" [value]="tag"
						>{{tag}}
						</mat-option>
					</mat-select>
				</mat-form-field>


<!--				Chip buttons-->
				<mat-form-field *ngIf="selectedTagList.length>0">
					<mat-chip-list #chipList>
						<mat-chip
							*ngFor="let tag of selectedTagList"
							[selectable]="selectable"
							[removable]="removable"
							(removed)="remove(tag)">
							{{tag}}
							<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
						</mat-chip>
					</mat-chip-list>
				</mat-form-field>
			</div>

			<!--begin::Action-->
			<div class="kt-login__actions">
				<button routerLink="/" [disabled]="loading" id="kt_login_signup_cancel"
						class="btn btn-secondary btn-elevate kt-login__btn-secondary">Back
				</button>
				<button (click)="submit()" id="kt_login_signin_submit"
						class="btn btn-primary btn-elevate kt-login__btn-primary"
						[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">Submit
				</button>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>
