<div class="row">
	<div class="col-lg-8">
		<div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-caption">
					<div class="kt-portlet__head-title">
						<span class="kt-portlet__head-icon kt-hide">
							<i class="la la-gear"></i>
						</span>
						<h3 class="kt-portlet__head-text">
							Pre-Review Material
						</h3>
					</div>
				</div>
			</div>
			<!--begin::Form-->
			<form class="kt-form">
				<div class="kt-portlet__body">
					<div class="kt-form__section kt-form__section--first">
						<iframe src="https://www.researchgate.net/publication/228237594_Can_You_Measure_the_ROI_of_Your_Social_Media_Marketing" width=100% height=1000>
							<p>Your browser does not support iframes.</p>
						</iframe>
						​
						​
					</div>
				</div>
				​
			</form>
			<!--end::Form-->
		</div>
		​
		​
	</div>
	<div class="col-lg-4">
		<div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-caption">
					<div class="kt-portlet__head-title">
						<span class="kt-portlet__head-icon kt-hide">
							<i class="la la-gear"></i>
						</span>
						<h3 class="kt-portlet__head-text">
							Approve or Deny
						</h3>
					</div>
				</div>
			</div>
			<div class="kt-portlet__body">
				<div class="kt-radio-list">
					<mat-radio-group>
						<mat-radio-button value="m">Approved</mat-radio-button>
						<mat-radio-button value="f">Denied</mat-radio-button>
					</mat-radio-group>
					<p></p>
					<label for="">Comments: </label>
					<br>
					<mat-form-field>
						<textarea matInput placeholder="Textarea" width=100%></textarea>
					</mat-form-field>
					<p></p>
					<div class="button-row">
						<button mat-raised-button color="primary">Submit</button>
						<button mat-raised-button color="accent">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		​
	</div>
</div>
