<div class="row">
	<div class="col-lg-8">
		<div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-caption">
					<div class="kt-portlet__head-title">
						<span class="kt-portlet__head-icon kt-hide">
							<i class="la la-gear"></i>
						</span>
						<h3 class="kt-portlet__head-text">
							Pre-Review Material
						</h3>
					</div>
				</div>
			</div>
			<!--begin::Form-->
			<form class="kt-form">
				<div class="kt-portlet__body">
					<div class="kt-form__section kt-form__section--first">
						<iframe src="https://www.latimes.com/world-nation/story/2019-12-03/un-says-current-decade-heading-for-new-temperature-record" width=100% height=1000>
							<p>Your browser does not support iframes.</p>
						</iframe>
						​
						​
					</div>
				</div>
				​
			</form>
			<!--end::Form-->
		</div>
		​
		​
	</div>
	<div class="col-lg-4">
		<div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-caption">
					<div class="kt-portlet__head-title">
						<span class="kt-portlet__head-icon kt-hide">
							<i class="la la-gear"></i>
						</span>
						<h3 class="kt-portlet__head-text">
							Approve or Deny
						</h3>
					</div>
				</div>
			</div>
			<div class="kt-portlet__body">
				<div>
				<mat-radio-group>
					<mat-radio-button value="1">Approve</mat-radio-button>
					<mat-radio-button value="2">Deny</mat-radio-button>
				</mat-radio-group>
				</div>
				<br>

				<div class="button-row">
					<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)"
					   mat-raised-button matTooltip="Submit & Continue">
						<span class="kt-hidden-mobile">Submit</span>
					</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a [routerLink]="['../Dashboard']" class="btn btn-secondary kt-margin-r-10" mat-raised-button
					   matTooltip="Back to the users list">
						<span class="kt-hidden-mobile">Cancel</span>
					</a>
				</div>
			</div>
		</div>
		​
	</div>
</div>
