:host {
  ::ng-deep {
    ngb-tabset > .nav-tabs {
      display: none;
    }
  }
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.mat-table{

	max-height: 600px;
}
