
.contact {
	width: 50%;
	padding: 22px;
	margin: auto;
	height: 100%;
	background: white;
}


mat-form-field {
	width: 100%;
}


.mat-simple-snackbar {
	font-size: 16px;
}

.snackbar2 {
	height: 90px;
	//margin-left: auto !important; // center align from left
	//margin-right: auto !important; // center align from right
	//margin-bottom: 1rem !important;
	padding: 30px !important; // spacing between the text and boundary
	background-color: #5A29A9;
	color: #ffffff;
	font-weight: 500;
	font-family: inherit;

	.mat-button-wrapper {
		color: black !important; // action text color
	}
}
