<div class="mt-5">
	<div class="container">
		<div class="card-deck">
			<div class="card">
				<div class="card-header"><h4>What is Peer Review?</h4></div>
				<div class="card-body">
					<p> Peer review is a long-standing system used to assess the quality of a work
						before it is published. Independent experts in the relevant area of interest assess
						submitted works for originality, validity and significance to help editors determine
						whether a work should be published as a standard reference for the scientists or
						professional associates of a science, industry or discipline.
					</p>
				</div>
			</div>

			<div class="card">
				<div class="card-header"><h4>Who performs peer review?</h4></div>
				<div class="card-body">
					<p>Experts with knowledge of the industry and practice are invited to review and rate
						works. Multiple reviewers are used for each work. Contact the Administrator if you
						would like to be added as a reviewer.
					</p>
					<p> Contact the Administrator if you would like to be added as a reviewer.</p>
					<p>Admin email address is on this page. </p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="my-5">
	<div class="container">
		<div class="card-deck">
			<div class="card">
				<div class="card-header"><h4>How is peer review accomplished?</h4></div>
				<div class="card-body">
					<p> Reviewers read works by an assigned deadline. They evaluate the work that was submitted
						using the format and guided scoring system set up by the profession or industry association.
						Mulitple reviewers give their assessment and a final consensus review and score are determined
						by combining the reviews.
					</p>
				</div>
			</div>

			<div class="card">
				<div class="card-header"><h4>What happens to reviewed works?</h4></div>
				<div class="card-body">
					<p> A work that is accepted and earns a score above a certain threshold will be displayed on the
						public page of the Peer Review System.
					</p>
					<p>
						A work that is accepted and needs correction, quality improvement or receives a score below the
						threshold will not be published. Feedback may be sent to the author. Authors may try again to
						submit the work when it is improved.
					</p>
					<p>
						A work that is rejected and not reviewed did not meet the criteria of works for this discipline.
						The Author receives a rejection notice from the Administrator. Feedback may or may not be sent
						to the Author.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid bottom">
	<div class="container">
		<div class="card-deck mb-5 text-center">

			<div class="card">
				<div class="mt-4 img" >
						<span class="fa-stack">
						<i class="fas fa-file-alt fa-stack-2x"></i>
							<i class="fas fa-upload fa-stack-1x" id="upload-icon"></i>
						</span>
				</div>
				<div class="card-body">
					<h4 class="card-title">Submit Your Work</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium,
						quam?</p>
				</div>
			</div>

			<div class="card">

				<div class="mt-4">
					<i class="fa fa-users" aria-hidden="true" style="font-size: 79px"></i>
				</div>
				<div class="card-body">
					<h4 class="card-title">Work Is Under Review</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, ipsa.</p>
				</div>
			</div>

			<div class="card">
				<div class="mt-4">
					<i class="fa fa-thumbs-up" aria-hidden="true" style="font-size: 77px"></i>
				</div>


				<div class="card-body">
					<h4 class="card-title">Get Score</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut,
						consequuntur?</p>
				</div>
			</div>

		</div>

	</div>

</div>
